<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="dani.springFramework.dlpetclinic.model.Vet"*/-->
<h1 th:text="'List of vet'">vet list..</h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>last name</th>
    </tr>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}"></td>
        <td th:text="${vet.firstName}"></td>
        <td th:text="${vet.lastName}"></td>
    </tr>
</table>
</body>
</html>